.products {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid lightgray;
}
.products-image {
  margin-top: 5px;
  margin-left: 5px;
  padding-left: 2px;
}
.products-name {
  margin-top: 5px;
  margin-left: 5px;
  padding-left: 2px;
  color: rgb(11, 11, 94);
}
.price-tag {
  color: red;
  font-size: medium;
  font-style: bold;
}
.main-button {
  color: rgb(0, 0, 0);
  background-color: goldenrod;
  border-radius: 4px;
  border-color: rgb(224, 189, 32);
  cursor: pointer;
}
.main-button:hover{
box-shadow:2px 3px rgb(216, 172, 29);
color: white;
}
